body{
    background-color: #768fa7;
    background-image: linear-gradient(0deg, #768fa7 0%, #48516f 50%, #232331 100%);
    height: 100vh;
    font-family: 'MuseoModerno', cursive;
}

#operac{
    font-size: 1.5em;
}

.btn{
    width: 50px;
}

.card{
    width: 30%;
}

/* dispositivo mediano-grande */
@media screen and (min-width: 992px) and (max-width: 1024px){
    .card{
        width: 38%;
    }
}

/* dispositivo mediano */
@media screen and (min-width: 768px) and (max-width: 991px){
    .card{
        width: 45%;
    }
}

/* dispositivo pequeño */
@media screen and (max-width: 767px){
    .card{
        width: 85%;
    }
}